1)  HD Logo of all the clubs

2)  Email of the following:
    -  EMS Portal
    -  Atrangi
    -  Director
    -  Dean (all)
    -  IPR CELL
    -  E-CELL
    -  INSTITUTE–INDUSTRY INTERACTION AND INTERNSHIP CELL (I4C)
    -  NATIONAL INNOVATION AND START-UP POLICY (NISP) CELL
    -  AVINYA - IOT LAB

3) Club info of the following:
    --"INSTITUTIONS INNOVATION COUNCIL (IIC)",
    --"IPR CELL",
    --"E-CELL",
    --"INSTITUTE–INDUSTRY INTERACTION AND INTERNSHIP CELL (I4C)",
    --"NATIONAL INNOVATION AND START-UP POLICY (NISP) CELL",
    --"Saturday 10 am",,
    --"RAW VISION CLUB",
    --"AVINYA - IOT LAB",,
    --"FLAVIUM",
    --"AMBIORA - Technical Event",
    --"PROTSAHAN"

4) Please verify that the college has only below mentioned clubs. If there are more clubs then the mentioned club names, please provide all the above mentioned requirements of the club
    IIC
    Google Developer's Club
    INSTITUTIONS INNOVATION COUNCIL (IIC)
    IPR CELL
    E-CELL
    INSTITUTE–INDUSTRY INTERACTION AND INTERNSHIP CELL (I4C)
    NATIONAL INNOVATION AND START-UP POLICY (NISP) CELL
    Saturday 10 am
    EACH ONE SAVE ONE
    The Writers Hub
    RAW VISION CLUB
    ATRANGI CLUB
    Computer Society of India (CSI)
    NMMUN (Narsee Monjee Model United Nation)
    Coding Club
    App Development Club
    TEAM UAS NMIMS (Drone Club)
    ISTE
    IEEE
    Society 4DS
    AVINYA - IOT LAB
    Learn Tech with NMIMS Shirpur
    FLAVIUM
    AMBIORA - Technical Event
    PROTSAHAN