.sidebar-open .flex-grow {
  display: none;
}

@media (max-width: 375px) {
  .overflow-x-auto {
    max-height: 400px; /* Adjust the height as needed */
    max-width: 300px; /* Limit the width to 300px */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
  }
}

/* Ensure main content is not overlapped by header and sidebar */
body {
  margin: 0;
  padding: 0;
  background-image: url('/nmims-campus.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-content:not(.login-page) {
  margin-top: 5rem; /* Height of the header its 5 */
  margin-left: 0rem; /* Adjusted width of the sidebar its 4 */
  padding: 0rem; /* Optional padding for content its 1*/
}

@media (max-width: 768px) {
  .main-content:not(.login-page) {
    margin-left: 0; /* Remove left margin on smaller screens its 0 */
  }
}